body {
    margin: 70px 20px 20px 20px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(32, 173, 204);
    
}
a:hover {
    color: #0a233c;
}
.lesson {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none !important;
    margin-right: 22vw !important;
    padding-bottom: 50px;
}
.lesson .info {
    background: rgba(32, 173, 204, 0.15);
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
.lesson > a, .lessonSidebar > a {
    border-bottom: 1px dashed rgb(32, 173, 204);
}
.lesson code {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    background: lightgoldenrodyellow;
    padding: 20px;
}
.lesson h1, .lesson h2 {
    color: #0a233c;
    border: none !important;
    margin-left: 0 !important;
}
.lesson  em {
    background: lightpink;
}

.lessonSidebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    position: fixed;
    background: #f0f0f0;
    top: 35px;
    right: 0;
    height: 100vh;
    width: 20vw;
    z-index: 3;
    border: none !important;
    padding: 20px;
}
.lessonSidebar a {
    word-break: break-all;
}

header#mainHeader {
    background: #0a233c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 16px;
    z-index: 4;
}
header#mainHeader ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header#mainHeader ul li {
    display: inline-block;
    margin-left: 10px;
}
header#mainHeader ul li.playground {
    font-weight: bold;
}
header#mainHeader ul li a.active {
    background: #6AD7EF;
    color: #0a233c;
    opacity: 0.8;
}
header#mainHeader a, header#mainHeader a:link, header#mainHeader a:visited {
    color: white;
    text-decoration: none;
    border-bottom: none;
    display: block;
    padding: 3px 8px;
    border-radius: 3px;
}
header#mainHeader a:hover {
    opacity: 0.6;
}
header#mainHeader a.title {
    float:left;
    color: #6AD7EF;
    font-size: 1.2em;
}
header#mainHeader.hidden {
    display: none;
}
header#mainHeader nav .info {
    position: absolute;
    background: rgba(255,255,255,0.9);
    border-bottom: 3px solid #0a233c;
    color: #0a233c;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 100px;
    padding: 7px;
    padding-right: 100px;
    display: none;
    left: 0;
    top: 52px;

}
header#mainHeader nav li:hover .info {
    display: block;
}


.tiles {
    background-image: url('/assets/images/backgrounds/morocco.png');
}
.clouds {
    background-attachment: fixed;
    background-image: url('/assets/images/backgrounds/clouds.jpg');
    background-size: 100% auto;
}

@media screen and (max-width: 700px) {
    .lessonSidebar {
        position: static;
        width: 90%;
        height: auto;
    }
    .lesson {
        margin-right: 0;
    }
}