<div class="lesson">
  <h1>Welcome to Blubito CSS Lessons App!</h1>
  This app is made in angular but you don't need to know Angular to use it.
  <br />
  If you are reading this, it means that you have managed to run the app and <strong>you have all the files. So what to
    do with them?</strong>
  <br />
  <br />
  <li>
    <em>/lessons/src/app/</em>: here you will find a folder for each lesson. <br />There are CSS and HTML example files
    inside.
    We are not going to change anything in these files during our exercises. They are made just to give you examples
    and
    to remind me what I was going to talk about!
    <br />
    Of course you can change these files as you wish. Feel free to experiment.
  </li>
  <br />
  <li>
    <em>/lessons/src/app/playground/</em> is our virtual "blackboard", the place we are going to write code during our
    lessons.
    <br />
    We are not going to save this code.
  </li>
  <br />
  <li>
    <em>So far this is my plan:</em>
    <br />
    <blockquote>
      #1. Basic CSS Syntax
      <br />
      #2. Basic HTML Elements, their default behavior and how to change it
      <br />
      #3. Position (static, relative, absolute…), tips and tricks
      <br />
      #4. Navigation and Layout
      <br />
      #5. Using Icons and Custom Fonts
      <br />
      #6. Using Images
      <br />
      #7. Pseudo Elements
      <br />
      #8. Responsive layout: Media queries
      <br />
      #9. Using Helpers: Sass and Less, CSS libraries
      <br />
      #10. Building user interface from given design
    </blockquote>
  </li>

  This plan may change. Lets see how it's going.

</div>