<div class="lesson">

  <h1>Positioning</h1>

  <div id="alert" *ngIf="showAlert">
    <a (click)="closeAlert()" class="close">close</a>
    This is alert. It's position is fixed because we want it always in the middle of the screen.
    <br />
    [close] in the corner has position="absolute".
  </div>

  <h3>Example "combinedHeadings"</h3>
  Both h1 and h2 elements have custom background and border-radius.<br />
  Second element (which is h3) has position="relative".<br />
  <div id="combinedHeadings" class="example">

    <h1>Title: These lessons are awesome!</h1>
    <h2>Subtitle: Are they really? Hm, I am not quite sure, let me think about it...</h2>

  </div>

  <h3>Example "tooltip":</h3>
  Here we have a small 45deg rotated square with position="absolute". This little square makes the tooltip tail.

  <div id="tooltip" class="example">
    <div class="box">
      <div class="arrow"></div>
      <div>
        This is a place for placing content :) Lets place something to take place!
      </div>
    </div>
  </div>

  <h3>Example "persona":</h3>
  In this element I used 2 different vertical-centering techniques:

  <div id="persona" class="example">
    <div>
      <img src="assets/images/person-2.png" class="avatar">
      <h4>Mickey Mouse</h4>
      <small>The most famouse mouse</small>
    </div>
  </div>

  <h3>Layout example:</h3>
  A page layout with:
  <ul>
    <li>Sticky header</li>
    <li>Side navigation (sticky sidebar)</li>
    <li>Main content</li>
    <li>Side content (non-sticky sidebar)</li>
    <li>Footer</li>
  </ul>
  <a target="_blank" href="/lesson3/layout">Click here to view the example</a>

</div>

<div class="lessonSidebar">
  <h2>Further reading</h2>
  Vertical centering:<br /> <a href="https://vanseodesign.com/css/vertical-centering/">https://vanseodesign.com/css/vertical-centering/</a>
  <br /><br />
  Flexbox: <br />
  <a href="https://www.w3schools.com/css/css3_flexbox.asp">https://www.w3schools.com/css/css3_flexbox.asp</a>

</div>