.example {
    margin-top: 30px;
}
#alert {
    position: fixed;
    top: 30%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    background: lightpink;
    border: 2px solid darkred;
    color: darkred;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 5px;
    z-index: 900;
}
#alert .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: darkred;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 0.7em;
}

#combinedHeadings h1 {
    background: coral;
    padding: 30px;
    padding-bottom: 60px;
    margin: 0;
}
#combinedHeadings h2 {
   background: darkcyan;
   color: white;
   padding: 30px;
   margin: 0;
   position: relative;
   top: -40px;
   left: 50px;
}
#combinedHeadings h1, #combinedHeadings h2 {
    border-radius: 10px;
    display: inline-block;
}

#tooltip .box {
    background: lightblue;
    padding: 30px;
    border-radius: 7px;
    position: relative;
}
#tooltip .box .arrow {
    position: absolute;
    top: 30px;
    left: -6px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background: #ccc;
    background: lightblue;
}

#persona {
    width: 300px;
}

#persona > div {
    padding: 10px;
    padding-left: 120px;
    border: 1px solid #ddd;
    height: 120px;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;   
    /* next 2 lines serve to center the content vertically */
    display: table-cell;
    vertical-align: middle;
}

#persona .avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10px;
    /* next 2 lines serve to center the element vertically */
    top: 50%;
    transform: translateY(-50%);
}
#persona h4 {
    margin: 0;
}