<div class="lesson">

  <h1>#2: Basic Elements, their default display and how to change it</h1>

  <br />
  <br />

  <h2>HTML Elements default display</h2>

  <section class="base">

    These are block-level elements:

    <p>
      This is paragraph
    </p>

    <div>
      This is div
    </div>

    <h3>This is heading</h3>

    <header>This is header</header>

    <footer>This is footer</footer>

    <section>This is section</section>

    <ul>
      <li>This is LI</li>
      <li>This is LI</li>
      <li>This is LI</li>
    </ul>

    These are inline elements:

    <span>This is span</span>

    <label>This is label</label>

    <a href="bla">This is link</a>

    <img class="small" src="https://lh3.googleusercontent.com/pu-zEjCvwm-CXkxRGegSTT9l8Bg-Dfv2hmYvYpLOVXqYBmTyMBrwxb2vgvg2ZjlgonFILO_ICqAvohY6UeC_gbqNXmutEULbTvShT1-X1cQ3ssGOWkj62BYtEdl7AzAJY3EhUgBjQjUaAjl7eqNL-oxDbZGUfg3XCwoPvAHvknIPI6OSWQHBL5Df8smq4zDrH5r_813Cnz6Y9S1j6C7p42fZ14lt--uH8I8N2sva0oKaWfen1-O0_O67INBB_k-8IvJZa8-Xm4oC3PxKzeYRPPIUJG6cKNqHfrght7PfvhbRsJ9KIBwQcGrUx4gtiY_wZp4rX9ty5PStLSQkqTl0VBFm8kxTUmuEy6gmkxAElGxw0UJn9Dac39zj5xxhFbymrIbr_g4j7kudid_pa2CBZmjZwC7X68NdZjzTZVhW88CplfBaq0KkvKcXaqoc4JtrGmdcd5-I_t-3sqyvXgYtLNu-ZObNQ5EH0ODqQ8uCNli1PaU-d6JTTqOyYr9ZZe-Q3BgoqdlUaDuQ00Fr35waZgJbzfgdlLjxByGnHy3-55loCadMK7sxsGjs9la1LjBBjIZjcaEwNNq8it4mRC4OkF9n3mtNKNJXkXGKlrrSP0OE3k8RRHNUGnNcT7flBS8fzUq0j31lVVcxm4eqnzek_ggNVyEJSVnW=w800-h528-no" />

    <button>This is a button</button>

    <input placeholder="this is input">

  </section>

  <h2>Changing default display</h2>

  <h3>Tags example</h3>
  These links by default would be "inline" but we changed it to be "inline-block".

  <div id="tagsExample">
    <a href="#">Dinosaur</a>
    <a href="#">Airplane</a>
    <a href="#">random words</a>
    <a href="#">something much longer than the other tags</a>
    <a href="#">fun</a>
    <a href="#">Angular</a>
    <a href="#">orange</a>
    <a href="#">silk road</a>
    <a href="#">samba</a>
    <a href="#">working together</a>
    <a href="#">makes no sense</a>
    <a href="#">freedom</a>
    <a href="#">miserable</a>
  </div>

  <br />
  <h3>Vertical menu example</h3>
  These links by default would be "inline" but we changed it to be "block".
  <div id="verticalMenuExample">
    <a href="#">Dinosaur</a>
    <a href="#">Airplane</a>
    <a href="#">random words</a>
    <a href="#">something much longer than the other tags</a>
    <a href="#">fun</a>
  </div>

  <h3>Tiles example</h3>
  These links were changed it to be "block" and there is much more (see CSS file).
  <div id="tilesExample" class="clearfix">
    <a href="#">Dinosaur</a>
    <a href="#">Airplane</a>
    <a href="#">random words</a>
    <a href="#">something much longer than the other tags</a>
    <a href="#">fun</a>
  </div>

  <h3>Vertical menu example + trick with display="none"</h3>
  These links by default would be "inline" but we changed it to be "block".
  <div id="displayTrickExample">
    <a href="#">
      <label>Dinosaur</label>
      <div>This is a very big animal. They are all dead.</div>
    </a>
    <a href="#">
      <label>Airplane</label>
      <div>You can fly with it!</div>
    </a>
    <a href="#">
      <label>random words</label>
      <div>This is what I write in my examples</div>
    </a>
    <a href="#">
      <label>something much longer than the other tags</label>
      <div>When you test something always make an item with a lot of text inside!</div>
    </a>

  </div>

  <h3>"Real" menu example:</h3>
  <nav id="realMenu">
    <ul>
      <li>
        <a href="#">First item</a>
        <ul>
          <li>
            <a href="#">Submenu item 1</a>
          </li>
          <li>
            <a href="#">Submenu item 2</a>
          </li>
          <li>
            <a href="#">Submenu item 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Second item</a>
      </li>
      <li>
        <a href="#">Third item</a>
      </li>
    </ul>
  </nav>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />


</div>

<div class="lessonSidebar">
  <h2>Further reading</h2>
  Tables:<br /> <a href="https://www.w3schools.com/css/css_table.asp">https://www.w3schools.com/css/css_table.asp</a>
  <br /><br />
  Borders:<br /> <a href="https://www.w3schools.com/css/css_border.asp">https://www.w3schools.com/css/css_border.asp</a>

</div>