.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.lesson .base p, 
.lesson .base div, 
.lesson .base a, 
.lesson .base span, 
.lesson .base label, 
.lesson .base h1, 
.lesson .base h2, 
.lesson .base h3, 
.lesson .base header, 
.lesson .base footer, 
.lesson .base section, 
.lesson .base ul, 
.lesson .base li {
    border: 1px solid slategray;
    margin: 15px;
}
button, input, img {
    margin: 15px;
}
img.small {
    max-width: 150px;
    height: auto;
}
#tagsExample {
    max-width: 500px;
    padding: 20px;
    background: #f0f0f0;
}
#tagsExample a {
    display: inline-block;
    background: #333;
    margin: 5px;
    padding: 3px 8px;
}

#verticalMenuExample {
    max-width: 300px;
}
#verticalMenuExample a {
    display: block;
    margin: 5px;
    background: #333;
    padding: 5px 10px;
}
#verticalMenuExample a:hover {
    background: lightseagreen;
}

#tilesExample a {
    display: block;
    float: left;
    margin: 3px;
    background: #333;
    width: 10vw;
    height: 6vw;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border: 5px solid darkslategrey;
    overflow: hidden;
}
#tilesExample a:hover {
    background-color: lightblue;
}

#displayTrickExample {
    max-width: 300px;
}
#displayTrickExample a {
    display: block;
    margin: 5px;
    background: lightblue;
}
#displayTrickExample a label {
    margin-left: 7px;
    display: block;
}
#displayTrickExample a div {
    display: none;
}
#displayTrickExample a:hover div {
    display: block;
    background: lightseagreen;
    padding: 7px;
}

#realMenu {
    background: darkslategray;
    height: 40px;
    overflow: visible;
}

#realMenu ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}
#realMenu ul ul {
    display: none;
}
#realMenu ul li {
    display: inline-block;
    height: 40px;
    position: relative;
}
#realMenu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 40px;
}
#realMenu ul li:hover {
    background: lightblue;

}

#realMenu ul li:hover ul {
    display: block;
    width: auto;
    position: absolute;
    top: 40px;
    box-sizing: border-box;
    background: #eee;
    border-top: none;
    white-space: nowrap;
}

#realMenu ul ul li {
    display: block;
}