<div class="breadcrumb-row">
  <nav>
    <ul>
      <li>Home</li>
    </ul>
  </nav>
</div>

<div class="home page">
  <div>
    <main>
      <h1>Welcome to our homepage!</h1>
      <section>
        This is just an example project, for educational purposes.
      </section>
      <h2>Latest News</h2>
      <section class="news-list">
        <div *ngFor="let item of news" class="news-tile">
          <a href="/news/{{item.id}}">
            <small>{{item.publishedAt | date:'dd.MMMM.yyyy'}}</small>
            <img src="{{item.urlToImage}}" />
            <h4>{{item.title}}</h4>
          </a>
        </div>
      </section>
    </main>
    <aside>
      <h3>Most active users</h3>
      <section class="users-list" *ngIf="users">
        <div *ngFor="let user of users" class="user-tile">
          <a href="https://github.com/{{user.login}}" target="_blank">
            <img src="{{user.avatar_url}}" />
            <h5> {{user.login}}</h5>
          </a>
        </div>
      </section>
    </aside>
  </div>
</div>