.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.parent {
    background: #f0f0f0;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}
#firstExample > div {
    border: 2px dashed #ccc;
    box-sizing: border-box;
}
#firstExample .left {
    width: 29%;
    float: left;
    margin-right: 1%;
}
#firstExample .right {
    width: 70%;
    float: left;
}
#secondExample > div {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border-right: 2px dashed #ccc;
}
#secondExample > div:last-child {
    border: none;
}
#thirdExample img{
    max-height: 200px;
    float: left;
    margin-right: 20px;
}
