<div class="lesson">
  <h1>Layout and navigation</h1>

  I am starting with these "float" examples because it is commonly used in layouts:

  <h3>Floated elements</h3>
  Whenever you use floated elements, <em>the parent container must have "clearfrix" class!</em> If you use Boostrap
  "row"
  class it actually does the "clearfix" trick for you. If you don't use CSS library you must define it by yourself.

  <div id="firstExample" class="clearfix parent">
    <div class="left">
      I am floated left and I am 30% wide.
    </div>
    <div class="right">
      I am floated right and I am 70% wide.
    </div>
  </div>

  <div id="secondExample" class="clearfix parent">
    <div>
      I am a column.
    </div>
    <div>
      I am a column too.
    </div>
    <div>
      I am the third column.
    </div>
    <div>
      I am the last column.
    </div>
  </div>

  <div id="thirdExample" class="parent clearfix">
    <img src="assets/images/alien.jpg" />
    In this example only the image is float left. You don't need to do anything with the text. We don't have so much
    text here. Image is higher than the text. SO if we remove "clearfix" from parent element (try it!), it's going to
    be broken.
  </div>

  <br />
  <br />

  This lesson is about full page layout. That's why most of the examples cannot be placed inside of this layout.
  I've prepared several examples, each of them is Angular component.

  <h3>Layout from Lesson#3</h3>
  We already made <a target="_blank" href="/lesson3/layout">this layout</a> in Lesson#3, when talking about
  positioning. It has:
  <ul>
    <li>Sticky header</li>
    <li>Side navigation (sticky sidebar)</li>
    <li>Main content</li>
    <li>Side content (non-sticky sidebar)</li>
    <li>Footer</li>
  </ul>

  <h3>Layout with fixed width</h3>
  This is a very common case: we want to limit the page content to certain amount of pixels and center it.
  In this <a target="_blank" href="/lesson4/fixed-width">example</a> I use a container, 1000px width.

  <h3>Layout based on vw & vh units</h3>
  In this layout I have created a grid.
  This is not the only way to create such kind of grid, but in this <a target="_blank" href="/lesson4/squares-grid">example</a>
  I
  intentionally configured everything in vw
  & vh units.

  <h3>Sticky header that changes when we scroll</h3>
  This is also very common case: we want our header to be sticky and we want it to change when we scroll.
  Usually we make the header to occupy less space when we scroll down. <a target="_blank" href="/lesson4/sticky-header">Click
    here to
    see the example</a>.

  <h3>Sliding sidebar</h3>
  A sidebar that contains the menu and slides in and out. For this example I attached this action to "click" event.
  In reality you would probably use it for mobile version and you would use some swipe events to handle it. <a target="_blank"
    href="/lesson4/sliding-sidebar">Example
    is here</a>.

  <h3>Flexbox layout</h3>
  Although flexbox is a great way to build layouts (and it is the best way in many cases) I never use it because IE11
  offers only
  partial support.<br />
  <a href="/lesson4/flex" target="_blank">This is a layout</a> that I coppied from <a href="https://www.w3schools.com/css/css3_flexbox.asp"
    target="_blank">W3Schools Flexbox
    tutorial</a>.

</div>

<div class="lessonSidebar">
  <h2>Further reading</h2>
  Layout examples<br />
  <a target="_blank" href="https://www.w3schools.com/css/css_website_layout.asp">https://www.w3schools.com/css/css_website_layout.asp</a>
  <br /><br />
  Great CSS learning tool:
  <a target="_blank" href="http://learnlayout.com/">http://learnlayout.com/</a>
  <br /><br />
  Layout creation guide:<br />
  <a target="_blank" href="https://www.smashingmagazine.com/2018/05/guide-css-layout/">https://www.smashingmagazine.com/2018/05/guide-css-layout/</a>
  <br />
  <h2>Homework</h2>
  # Make a layout with fixed-width centered content, <strong>define everything in pixels</strong>.
  <br /><br />
  # Make a layout with some fixed elements (header or sidebar, or both), <strong>define everything in vh/vw units</strong>.
  <br /><br />
  # Make columns layout that fits 100% the screen, <strong>define everything in %</strong>.
</div>