@import "./sass/bootstrap/functions";
@import "./sass/variables";
@import "./sass/bootstrap/mixins";
@import "./sass/bootstrap/root";
@import "./sass/bootstrap/reboot";
@import "./sass/bootstrap/type";
@import "./sass/bootstrap/images";
@import "./sass/bootstrap/code";
@import "./sass/bootstrap/grid";
// @import "./sass/bootstrap/tables";
@import "./sass/bootstrap/forms";
@import "./sass/bootstrap/buttons";
@import "./sass/bootstrap/transitions";
@import "./sass/bootstrap/dropdown";
@import "./sass/bootstrap/button-group";
@import "./sass/bootstrap/input-group";
@import "./sass/bootstrap/custom-forms";
@import "./sass/bootstrap/nav";
@import "./sass/bootstrap/navbar";
// @import "./sass/bootstrap/card";
@import "./sass/bootstrap/breadcrumb";
// @import "./sass/bootstrap/pagination";
@import "./sass/bootstrap/badge";
@import "./sass/bootstrap/jumbotron";
@import "./sass/bootstrap/alert";
// @import "./sass/bootstrap/progress";
@import "./sass/bootstrap/media";
@import "./sass/bootstrap/list-group";
@import "./sass/bootstrap/close";
@import "./sass/bootstrap/modal";
@import "./sass/bootstrap/tooltip";
@import "./sass/bootstrap/popover";
// @import "./sass/bootstrap/carousel";
@import "./sass/bootstrap/utilities";
@import "./sass/bootstrap/print";

body {
    background: $base-light;
    padding: 130px 0 0 0;
    margin: 0;
    color: $base-dark;
}
h1 {
    color: $company;
}
h2, h3, h4 {
    color: $base;
}

%menu-screen {
    width: auto;
    position: relative;
    top: 15px;
    @extend .nav, .nav-pills, .justify-content-end;
    li {
        @extend .nav-item;
        a {
            @extend .nav-link;
            color: white;
            &:hover {
                color: $base-dark;
            }
        }
    }
}

%menu-mobile {
    position: absolute;
    min-width: 200px;
    z-index: 1000;
    top: 50px;
    right: 10px;
    @extend .btn-group-vertical;
    li {
        @extend .btn, .btn-secondary;
        a {
            display: block;
            color: white;
        }
        
    }
}


header {
    background: $company;
    @extend .fixed-top;

    nav {
        width: auto;
        @extend .clearfix, .container;
        .logo {
            img {
                height: 40px;
                width: auto;
                margin: 15px 0;
                float: left;
            }
            
        }
        button {
            @extend .d-block, .d-sm-none, .btn, .btn-primary;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &.screen {
            ul { @extend %menu-screen; }
        }
        &.mobile {
            ul { @extend %menu-mobile; }
        }
    }
    
}
.breadcrumb-row {
    @extend .d-none, .d-sm-block;
    nav {
        @extend .container;
        ul {
            @extend .breadcrumb;
            li {
                @extend .breadcrumb-item;
            }
        }
    }
    @extend .fixed-top;
    top: 70px;
    background: rgba($base, 0.2);
}
.breadcrumb {
    background: none;
    padding: 0;
}
.page {
    @extend .container;
    padding-bottom: 30px;
    section {
        margin-bottom: 40px;
    }
    & > div {
        @extend .row;
        main {
            @extend .col-lg-9;
            background: white;
            min-height: 100vh;
            padding: 30px;
        }
        aside {
            @extend .col-lg-3;
        }
    }
    .news-list {
        @extend .row;
        & > div {
            @extend .col-lg-3;
            padding-bottom: 30px;
        }
    }
    .news-tile {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .users-list {
        @extend .row;
        .user-tile {
            
            text-align: center;
            margin-bottom: 20px;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
            }
            
        }
    }
    &.users {
        .users-list {
            .user-tile {
                @extend .col-md-4, .col-lg-3, .col-xl-2;
            }
        }
    }
    
    &.news {
        main {
            @extend .col-lg-12;
        }
    }
    &.news-item {
        img.main {
            width: 100%;
            height: auto;
        }
    }
    &.home {
        .news-list {
            @extend .row;
            & > div {
                @extend .col-lg-4;
                padding-bottom: 30px;
            }
        }
    }
    
    aside {
        .news-tile {
            h4 {
                font-size: 1em;
            }
        }
        .users-list {
            .user-tile {
                @extend .col-lg-12;
                text-align: left;
                img {
                    width: 60px;
                    height: 60px;
                }
                h5 {
                    position: absolute;
                    left: 80px;
                    top: 20px;
                }
            }
        }
    }

}
footer {
    background: $base;
    .rights {
        text-align: center;
        font-size: 0.8em;
    }
    &>* {
        @extend .container;
    }
    ul {
        @extend .nav, .justify-content-center;
        li {
            @extend .nav-item;
            a {
                @extend .nav-link;
                color: white;
            }
        }
    }
}
