<div class="lesson">
  <h1>Images</h1>
  <h3>Commonly used image types</h3>
  <strong>Bitmap images:</strong> JPEG (does not support transparancy), GIF & PNG (allow transparent backgrounds)
  <br />
  <strong>Vector imges:</strong> SVG, Icon fonts (vector images don't lose their quality when scaled.)
  <br /><br />
  <strong>SVG usage:</strong>
  <ul>
    <li>A set of SVGs can be exported as icons font</li>
    <li>Inline svg</li>
    <li>SVG encoded as Base64 can be placed in CSS</li>
  </ul>

  <div class="info">
    Exporting images with good filesize/quality balance is not a programmer's job, but you can ask the designer to send
    you the images in a different type. If you see that PNG icons are flat and monocolor, it makes sense asking the
    designer to export them as SVG.
  </div>


  <h3>Lets shape avatars: tricks with "object-fit" property</h3>
  <p>
    I am using intentionally portrait & lanscape photos.
  </p>

  #1. Images are square-shaped, "object-fit" not defined. As a result images are distorted:
  <div class="avatars example">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  #2. Same as the above but "object-fit" is "cover". Images are not distorted but cropped to fit the square:

  <div class="avatars cover example">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  #3. Same as the above example but "border-radius" is 50% that transforms a square into circle:

  <div class="avatars round cover example">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  #4. Same as Example#2 but shape is a rectangle, not square:

  <div class="avatars rect cover example">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  #5. Same as Example#2 but "object-fit" is "contain". Images are not cropped but resized to fit the space:

  <div class="avatars contain example">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  <h3>Lets add some hover effects</h3>

  <div class="avatars round cover example hover-square">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  <div class="avatars square cover example hover-border">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  <div class="avatars square cover example hover-outline">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  <div class="avatars square cover example hover-color">
    <img src="assets/images/avatars/avatar-1.jpg">
    <img src="assets/images/avatars/avatar-2.jpg">
    <img src="assets/images/avatars/avatar-3.jpg">
    <img src="assets/images/avatars/avatar-4.jpg">
  </div>

  <h3>Image as Background</h3>
  When we use background images?

  <ul>
    <li>When we literally need it as background - a photo with some text or other elements on top</li>
    <li>When we want image to be defined in CSS, not in HTML (image is reused many times because it's a part of
      our interface)</li>
    <li>When we create iconfont from sprites (see <a href="/lesson5">Lesson#5</a>)</li>
    <li>When we can't achieve the same effect by CSS colors and gradients</li>
    <li>As alternative to "position: absolute" (example - we have a person photo and person name that should overlap
      the
      photo)</li>
  </ul>

  Example with background images:
  <div class="example visit-places">
    <div style="background-image: url('assets/images/backgrounds/sofia.jpg')">
      <h4>Sofia</h4>
    </div>
    <div style="background-image: url('assets/images/backgrounds/sintra.jpg')">
      <h4>Lisbon</h4>
    </div>
    <div style="background-image: url('assets/images/backgrounds/tbilisi.jpg')">
      <h4>Tbilisi</h4>
    </div>
  </div>

  Same example with inline images:
  <div class="example visit-places inline-images">
    <div>
      <img src="assets/images/backgrounds/sofia.jpg" />
      <h4>Sofia</h4>
    </div>
    <div>
      <img src="assets/images/backgrounds/sintra.jpg" />
      <h4>Lisbon</h4>
    </div>
    <div>
      <img src="assets/images/backgrounds/tbilisi.jpg" />
      <h4>Tbilisi</h4>
    </div>
  </div>


  Adding background to "body" element:
  <div class="example">
    <button (click)="tilesBackground()">Tiles background</button>
    <button (click)="cloudsBackground()">Big image background</button>
    <button (click)="noBackground()">NO background</button>

  </div>

  <h3>SVG Usage</h3>


  <div class="example fish">

    <strong>Inline SVG</strong> <br />
    We can easily change image color by setting CSS "fill":<br />
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" width="100" height="100">
      <g>
        <g>
          <g id="Layer_5_13_">
            <g>
              <path d="M92.6,44.8c0.3-0.7,2.5-3.6,4.5-6.6c0,0,0,0,0,0c0.4-0.7,0.9-1.4,1.3-2c0,0,0,0,0-0.1c0.1-0.1,4.7-7.6-1.9-4.5
             c0,0,0,0,0,0c-1.2,0.6-2.8,1.6-4.8,2.9c-4.3,2.9-13.1,7.2-13.1,7.2s-1.5,0.8-2.5,0.2c-5.1-3.2-12.5-8.9-22.3-12
             c-0.2-0.1-0.4-0.2-0.1-0.4l4.2-2.9c0,0,0.3-0.3-0.1-0.4c-2.1-0.7-10.7-3.6-18.1-0.9c-1.5,0.5-2.8,1-3.8,1.4
             c-0.4,0.2-0.9,0.3-1.8,0.5C13.8,27.6,0,42.6,0,48.6c0,4,2.1,6.7,9.9,10.4c0.2,0,1.3,0.8,4,0c0.7-0.2,5.7-2.1,5.9-2.2
             c0.2-0.1,0.3-0.1,0.4-0.1c0.1,0,0.2,0.3,0.2,0.3c0,1.4-2.7,2.6-4.2,3.8c-0.3,0.1-0.3,0.7,0.1,0.9c0,0,5.3,2.9,13.7,3.8
             c0.7,0.1,9.5,5.8,18.4,4.2c4.7-0.8,7-1.1,8-1.4c0.9-0.2,0.5-0.5,0.5-0.5l-4.5-3.6c-0.3-0.3-0.1-0.6,0.2-0.7
             c9.9-2.8,17.8-7.3,22.5-11.2c0.6-0.5,2.3,0.7,3.4,1.3c3.9,2,20,8.6,21.3,7.2c0.1-0.1,0.1-0.3,0-0.5
             C97.6,55.6,89.4,51.6,92.6,44.8z M16.5,44.3c-1.4,0-2.6-1.2-2.6-2.7c0-1.5,1.2-2.7,2.6-2.7s2.6,1.2,2.6,2.7
             C19.1,43.1,17.9,44.3,16.5,44.3z M28.1,59.4c-0.2,0.1-0.3,0.4-0.2,0c0,0,4-6.1,4.6-14c0.4-5.9-3.5-13.2-3.5-13.2s0-0.2,0.1,0
             C30.4,33.9,44.2,44.9,28.1,59.4z" />
            </g>
          </g>
        </g>
      </g>
    </svg>
    <br />
    <strong>SVG as font</strong>
    <br />
    Actually this is not SVG but the font was generated from a collection of SVGs. You can change the color easily the
    same way you change text color.
    <br />
    <span class="icon-paw big"></span>
    <br /><br />
    <strong>SVG inserted as image</strong>
    <br />CSS "fill" doesn't work in this case, neither "color" will work. <br />SVG images inserted with "img" tag
    preserve
    their scalability but you can't change their original color:<br />
    <img src="assets/images/icons/fish.svg" width="100" height="100" />
    <br />
  </div>

  <h3>Generating a custom font from SVG files</h3>
  We assume that you have a bunch of SVG files provided by the designer or you have downloaded such files from
  Flaticon an another website for free icons.
  <ul>
    <li>Open Icomoon app, <a target="_blank" href="https://icomoon.io/app/">click
        here</a>)</li>
    <li>Use [import icons] button to import your SVG collection (in a few seconds you will see your icons in the app)</li>
    <li>Click on each icon you want to export as a font (or just select all of them)</li>
    <li>Click on <strong>generate font</strong> at the bottom of the screen</li>
    <li>Click at <strong>download</strong> at the bottom of the screen (it will download a ZIP with fonts and CSS ready
      to use)</li>
    <li>Unpack ZIP file</li>
    <li>Place generated fonts in your "fonts" folder</li>
    <li>Place CSS in your "css" or "sass" folder, <em>update fonts path</em></li>
  </ul>

  There are some preferences at "generate font" step:<br />
  <img src="assets/images/icomoon-preferences.jpg" width="700px" />
  <br /><br />
  If you don't have something special in mind, better do not change anything because it
  will be easier for you to update the font when you need it.
  <br /><br />
  <em>Ensure that your font is updatable!</em>
  The biggest mistake is if you lose your source files.

  <ul>
    <li>In your "fonts" folder make a sub-folder that contains source SVG files</li>
    <li>In your "fonts" folder create README that explains briefly how you have generated the font</li>
    <li>You can place the same README file in your css or sass folder</li>
    <li><em>Source files (SVG) must be uploaded to GIT repository</em></li>
  </ul>