$fonts-path: 'http://localhost:4200/assets/fonts/';

@font-face {
    font-family: 'FontAwesome';
    src: url('#{$fonts-path}fontawesome-webfont.eot?v=4.7.0');
    src: url('#{$fonts-path}fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('#{$fonts-path}fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('#{$fonts-path}fontawesome-webfont.woff?v=4.7.0') format('woff'), url('#{$fonts-path}fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('#{$fonts-path}fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.example {
    @extend .clearfix;
    margin-top: 20px;
    margin-bottom: 30px;
}

.avatars {

    img {
        width: 100px;
        height: 100px;
        margin: 10px;
        float: left;
        box-sizing: border-box;
        display: block;
    }
    &.cover img {
        object-fit: cover;
    }
    &.round img {
        border-radius: 50%;
    }
    &.rect img {
        width: 100px;
        height: 70px;
    }
    &.contain img {
        object-fit: contain;
        background: #eee;
    }
    &.hover-square {
        img:hover {
            border-radius: 10%;
            transition: all 0.5s;
        }
    }
    &.hover-border {
        img:hover {
            background: slategray;
            border: 5px solid slategray;
        }
    }
    &.hover-outline {
        img:hover {
            outline: 5px solid slategray;
        }
    }
    &.hover-color {
        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition: all 0.6s;
            &:hover {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }

        }
    }
   
}
.visit-places {
    & > div {
        width: 300px;
        height: 170px;
        margin: 7px;
        float: left;
        border: 1px solid #333;
        background-size: 100% auto;
        position: relative;
        h4 {
            position: absolute;
            bottom: 0;
            background: rgba(white, 0.8);
            padding: 7px;
        }
    }
    &.inline-images {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }
}

.fish {
    
    svg {
        width: 200px;
        height: 200px;
        fill: coral;
    }
    img {
        width: 200px;
        height: 200px;
        fill: coral;
    }
    
}
.icon-paw {
    font-family: 'FontAwesome';
    &:before {
        content: "\f1b0";
    }
    &.big {
        font-size: 100px;
        color: coral;
    }
}