<div class="lesson">
  <section>
    <h1>Icons and custom fonts</h1>

    <h3>How you <em>should not</em> code icons:</h3>

    Placing them as images in the code (when your icons are PNG images):
    <code class="no" [innerText]="doNotCode"></code>
    <br />
    When using a font (in this example FontAwesome):
    <code class="no" [innerText]="doNotFA"></code>
    <code class="no" [innerText]="doNotFA2"></code>
    Although the code above is exactly what you find as recommendation on FontAwesome website, this is not the best way
    to integrate FA (or any other iconset).

    <h3>General rule</h3>
    HTML code serves to define what elements you have on the page. It's not HTML's business if a button has icon or
    not, neither which icon is it. If you look at HTML code and see icons inside, then your HTML does the job that
    should be done by CSS.

    <h3>Using non-vector images (bitmaps with transparent background)</h3>
    We use PNG or GIF because icons are supposed to have transparent background. This cannot be achieved with JPG.

    <ul>
      <strong>PROS:</strong>
      <li>Very easy maintenance. You can easily add more icon files and replace/rename a file.</li>
    </ul>

    <ul>
      <strong>CONTRAS:</strong>
      <li>Many requests: each icon is loaded with a new http request</li>
      <li>Images are not scalable because they are not vector</li>
      <li>Images are not packed together in a single file.</li>
    </ul>

    <nav class="example image-icons">
      <a href="#"><span class="imgicon home"></span> Home</a>
      <a href="#"><span class="imgicon clock"></span> Schedule</a>
      <a href="#"><span class="imgicon like"></span> Favorites</a>
      <a href="#"><span class="imgicon person"></span> Profile</a>
    </nav>

    <div class="info">
      <strong>Designer must provide:</strong>
      Same files as the icons but much bigger (because some day you may need a bigger icon).
    </div>

  </section>

  <section>

    <h3>Using sprites</h3>
    Sprite is a single image width transparent ackground that contains all the icons.
    We use this when our icons are not "flat", they are images with more than one color so they can't be exported as
    font.
    <ul>
      <strong>PROS:</strong>
      <li>All the icons are loaded at once with a single http request</li>
    </ul>

    <ul>
      <strong>CONTRAS:</strong>
      <li>Maintenance is hard. Extra efforts for both designer and programmer.</li>
      <li>Images are not scalable because they are not vector</li>
    </ul>


    <nav class="example sprite">
      <a href="#"><span class="spricon home"></span> Home</a>
      <a href="#"><span class="spricon clock"></span> Schedule</a>
      <a href="#"><span class="spricon like"></span> Favorites</a>
      <a href="#"><span class="spricon person"></span> Profile</a>
    </nav>

    <div class="info">
      <strong>Designer must provide:</strong>
      Sprite source file - a file that contains grid and layers with separated images. It may be PSD, AI or something
      else.
    </div>

  </section>

  <section>

    <h3>Using Base64 icons</h3>
    You can decode any image as Base64 but it is only good for tiny images.

    <ul>
      <strong>PROS:</strong>
      <li>No additional http requests, everything is in CSS</li>
      <li>CSS contains the icons. This is very convenient in some cases when we need to reuse the CSS.</li>
      <li>Useful when CSS is used by third parties and you have crossdomain issues because of trying to load images
        from
        another domain.</li>
    </ul>

    <ul>
      <strong>CONTRAS:</strong>
      <li>Base64 code is larger than the original. It's good for tiny images.</li>
      <li>If you encode bitmap images you will have the same problems as with any bitmap image - they are not scalable</li>
      <li>SVGs, as they are vector, remain scalable but you can't change their color as normally in SVG</li>
    </ul>

    <nav class="example base-64">
      <a href="#"><span class="icon64 vegetables"></span> Vegetables</a>
      <a href="#"><span class="icon64 fish"></span> Fish</a>
      <a href="#"><span class="icon64 meat"></span> Meat</a>
    </nav>

  </section>

  <section>

    <h3>Using icon fonts</h3>

    <ul>
      <strong>PROS:</strong>
      <li>Once you have the icons font, it's the easiest way to display icons</li>
      <li>You can change color and size easily</li>
      <li>There is absolutely no limit for icon size because we are using vectors</li>
      <li>You don't load many image files, just font</li>
    </ul>

    <ul>
      <strong>CONTRAS:</strong>
      <li>Custom icon fonts require initial effort to be generated</li>
      <li>When you need to add more icons to existing font, you should generate the whole font again</li>
      <li>You must ensure that you<em> keep your source files</em> (SVG images) and they are easy to be found by other
        colleagues</li>
      <li>You must leave a documentation of how you have generated the font</li>
    </ul>

    <em>How do you get icons font?</em>
    <ul>
      <li>You have downloaded existing icons font, such as Entypo, FontAwesome, etc.</li>
      <li>Icons font is a part of CSS library you are using</li>
      <li>Icons font was created by the designer</li>
      <li>Designer gives you a set of SVG images and you generate the icons font by yourself.</li>
      <li>You download SVG icons from a website that provides free icons.</li>
    </ul>

    There are many online tools for generating custom fonts (<a href="http://icomoon.io/app/" target="_blank">Icomoon</a>,
    <a href="http://fontello.com" target="_blank">Fontello</a>, <a href="http://glyphter.com" target="_blank">Glyphter</a>).
    You can generate a font from your own SVGs or you can use the icons that they provide.
    <br /><br />
    For this example I am going to use FontAwesome.
    <br /><br />

    <strong>Basic usage </strong> <em> not recommended </em>:
    <br />
    Using directly FontAwesome classes by adding "fa fa-classname" to our elements.

    <nav class="example custom-font">
      <a href="#"><span class="fa fa-home"></span> Home</a>
      <a href="#"><span class="fa fa-group"></span> Group</a>
      <a href="#"><span class="fa fa-search"></span> Search</a>
    </nav>

    <strong>Advanced usage </strong>
    <br />
    Creating our own classes that extend Font Awesome classes. This way we can easily replace icons or replace
    completely FA with another icons font.
    <nav class="example custom-font">
      <a href="#" class="my-home">Home</a>
      <a href="#" class="my-group">Group</a>
      <a href="#" class="my-search">Search</a>
    </nav>

    "Flat" icons don't need to look flat. Adding a gradient is easy:
    <nav class="example custom-font gradient">
      <a href="#" class="my-home">Home</a>
      <a href="#" class="my-group">Group</a>
      <a href="#" class="my-search">Search</a>
    </nav>

    Using icons in buttons:
    <div class="example">
      <button class="save">save</button>
      <button class="cancel">cancel</button>
      <button class="delete">delete</button>
      <button class="search">search</button>
    </div>

    Using icons in inputs:
    <div class="example">
      <div class="input-wrapper search">
        <input type="text" placeholder="this is input">
      </div>

      <br /><br />
      Placing icon at the end of the input is more difficult than in the beginning.
      <br />
      <div class="input-wrapper search-after">
        <input type="text" placeholder="this is input">
      </div>
    </div>

    <div class="info">
      <strong>Designer must provide:</strong>
      A set of SVGs so you can generate the font. <br />Designer could also give you the font but in this case he still
      should give you the source files, otherwise you won't be able to update the font.
    </div>

  </section>

  <div class="lessonSidebar">
    <h2>Usefull online tools</h2>
    Visualize your icons font:<br />
    <a href="https://bluejamesbond.github.io/CharacterMap/" target="_blank">https://bluejamesbond.github.io/CharacterMap/</a>
    <br /><br />
    Generate a font:<br />
    <a href="http://icomoon.io/app/" target="_blank">Icomoon</a>, <a href="http://fontello.com" target="_blank">Fontello</a>,
    <a href="http://glyphter.com" target="_blank">Glyphter</a>
    <br /><br />
    Download icons (Bitmap, Vector or Base64):<br />
    <a target="_blank" href="https://www.flaticon.com/">Flaticon</a>, <a target="_blank" href="https://www.freepik.com/">Freepik</a>
    <br /><br />
    Base64 Encoder:<br />
    <a target="_blank" href="https://www.base64-image.de/">https://www.base64-image.de/</a>
  </div>

</div>