div { /* this affects all DIV elements on the page */
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 20px;
}

#firstDiv {
    font-weight: bold;
}

#firstDiv, #secondDiv {
    border: 2px dashed #000;
}

.specialBackground {
    background: coral;
}

/* note that "justSpecial" class does not exist as a separate class */
.specialBackground.justSpecial {
    background: slategray;
}

/* note that this is not the same as the above, here we target another div which is inside of "specialBackground"-div*/
.specialBackground .justSpecial {
    background: black;
}

.specialBorder {
    border: 2px solid #c00;
}

/* if we have a DIV with class "specialBackground" text will be white */
/* other elements with class "specialBackground" will not be affected */
div.specialBackground { 
    color: white;
}

/* here we target all DIVs that are inside "testing"-div */
div.testing div {
    border: 1px solid #ccc;
    margin: 5px;
}

/* here we target only first-level children DIVs that are inside "testing"-div, this rule does not affect second-level children */
div.testing > div {
    border: 2px solid #000;
}

/* Practical examples: list & menu */
.itemsList .active {
    color: tomato;
}

.itemsList.menu {
    margin: 0;
    padding: 5px;
    background: slategray;
    list-style: none;
    border-radius: 3px;
}
.itemsList.menu li {
    display: inline-block;
    padding: 5px 8px;
    margin: 3px;
}
.itemsList.menu li.active {
    background: coral;
    border-radius: 3px;
}
.itemsList.menu li.active a {
    color: white;
}
.itemsList.menu a:link, .itemsList.menu a:visited, .itemsList.menu a:active {
    text-decoration: none;
    color: #000;
}
.itemsList.menu a:hover {
    opacity: 0.6;
}

/* Practical examples: message boxes*/

.messageBox {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    color: #000;
    box-sizing: border-box;
}
.messageBox.danger {
    background: lightsalmon;
    border-color: #c00;
}
.messageBox.warning {
    background: #ffc;
    border-color: gold;
}
.messageBox.success {
    background: darkseagreen;
    border-color: green;
}

/* Inputs Example*/
.inputsExample input {
    border: 1px solid slateblue;
    outline: none;
    box-sizing: border-box;
    padding: 7px;
}
.inputsExample input[type="text"] {
    background: lightyellow;
}