* {
    font-family: tahome;
}
.page main {
    margin-left: 60px;
}
.page > aside {
   background: darkslategrey;
   color: #ddd;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 300px;
   padding: 20px;
   padding-right: 40px;
   box-sizing: border-box;
   transition: all 0.5s;
}
.page > aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.page > aside ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}
.page > aside ul li a {
    display: block;
}
.page.menu-open > aside {
    left: -260px;
}
.page > aside .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    line-height: 100vh;
    text-align: center;
    cursor: pointer;
}
.page > aside .menu-toggle:hover {
    background: rgba(255,255,255,0.2);
}
.page > aside .menu-toggle:before {
    content: '<';
}
.page.menu-open > aside .menu-toggle:before {
    content: '>'
}