<div class="page" [class.menu-open]="menu">
  <aside>
    <ul>
      <li><a href="#">First item</a></li>
      <li><a href="#">Second item</a></li>
      <li><a href="#">Third item</a></li>
    </ul>
    <a (click)="toggleMenu()" class="menu-toggle"> </a>
  </aside>
  <main>
    <h1>Sliding sidebar example</h1>
  </main>
</div>