<header id="mainHeader" [class.hidden]="!header">
  <nav>
    <a routerLink="/" class="title">{{ title }}</a>
    <ul>
      <li>
        <a routerLink="/lesson1" routerLinkActive="active">Lesson#1</a>
        <div class="info">Basic CSS Rules</div>
      </li>
      <li>
        <a routerLink="/lesson2" routerLinkActive="active">Lesson#2</a>
        <div class="info">Elements display property. Changing default display. + Hover effects</div>
      </li>
      <li>
        <a routerLink="/lesson3" routerLinkActive="active">Lesson#3</a>
        <div class="info"><strong>Positioning:</strong> "position" property and everything else that helps to position
          elements on the
          page.</div>
      </li>
      <li>
        <a routerLink="/lesson4" routerLinkActive="active">Lesson#4</a>
        <div class="info">Layout and Navigation. Special attention to vw/vh units and "float" property.</div>
      </li>
      <li>
        <a routerLink="/lesson5" routerLinkActive="active">Lesson#5</a>
        <div class="info">Icons and Icon Fonts</div>
      </li>
      <li>
        <a routerLink="/lesson6" routerLinkActive="active">Lesson#6</a>
        <div class="info"><strong>Images</strong>: common image types, working with vector images, image as
          background.</div>
      </li>
      <li class="playground">
        <a routerLink="/playground" routerLinkActive="active">Playground</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>