* {
    font-family: Verdana;
}
/* 
In this Angular app we have body padding defined in the main CSS
.body-simulator resets the padding because in some cases we need no margins or different padding
*/
.body-replace {
    margin: -70px -20px 0 -20px;
    font-family: Tahoma;
}
 .clearfix {
     overflow: auto;
 }
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
 }

 .container {
     width: 1000px;
     margin: 0 auto;
     box-sizing: border-box;
 }
 .container {
    overflow: auto;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}

 header, main, aside, footer {
     box-sizing: border-box;
     display: block;
 }

 header {
     background: slategray;
     padding-top: 7px;
 }
 header .logo {
     width: 150px;
     height: auto;
 }
 header a {
     width: 25%;
     display: inline-block;
     text-align: center;
     line-height: 40px;
     background: rgba(255,255,255,0.2);
     box-sizing: border-box;
     border-right: 1px solid slategray;
     color: white;
 }
 header a:hover {
     background: darkslategray;
 }
 main {
     line-height: 150%;
     min-height: 100vh;
 }
 footer {
     background: darkslategray;
     padding: 10px 0;
 }
 footer nav {
     background: rgba(0,0,0,0.5);
     text-align: center;
 }
 footer nav a {
    display: inline-block;
    margin: 7px 20px;
 }
 @media screen and (max-width: 1024px) {
     .container {
         width: 95%;
     }
 }