<div class="body-replace" [class.scrolled]="scrollEvent">
  <header>
    <img src="assets/images/logo.png" class="logo">
    <nav>
      <a href="#">First item <small>somebody must be first</small></a>
      <a href="#">Second item <small>because one is not enough</small></a>
      <a href="#">Third item <small>because three is better than two</small></a>
    </nav>
  </header>
  <main>
    <h1>Sticky-changing header</h1>
    A header that is sticky and canges when you scroll.
  </main>
</div>