/* 
In this Angular app we have body padding defined in the main CSS
.body-simulator resets the padding because in some cases we need no margins or different padding
*/
.body-replace {
    margin: -70px -20px 0 -20px;
    font-family: Tahoma;
}
header, header * {
    transition: all 0.5s;
}
header {
    position: fixed;
    background: olive;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100px;
    z-index: 900;
}
header img.logo {
    height: 80px;
    width: auto;
    margin: 10px 20px;
}
header h1 {
    margin: 0 0 0 7px;
    float: left;
}
header nav {
    float: right;
    width: auto;
    font-size: 25px;
}
header nav a, header nav a:link, header nav a:visited, header nav a:active {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid olive;
    background: rgba(255,255,255,0.5);
    height: 100%;
    color: #333;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}
header nav a small {
    display: block;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}
header nav a:hover {
    color: white;
    background: rgba(0,0,0,0.2);
}
main {
    min-height: 150vh;
    padding: 130px 20px 20px 40px;
    display: block;
}
.scrolled header {
    height: 40px;
    line-height: 40px;
}
.scrolled header img.logo {
    height: 30px;
    margin: 5px 10px;
}
.scrolled header nav {
    font-size: 16px;
}
.scrolled header nav a {
    height: 35px;
}
.scrolled header nav a small {
    display: none;
}