<div class="breadcrumb-row">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>Users</li>
    </ul>
  </nav>
</div>

<div class="users page">
  <div>
    <main>
      <h1>Users</h1>

      <section class="users-list" *ngIf="users">
        <div *ngFor="let user of users" class="user-tile">
          <a href="https://github.com/{{user.login}}" target="_blank">
            <img src="{{user.avatar_url}}" />
            <h5> {{user.login}}</h5>
          </a>
        </div>
      </section>
    </main>
    <aside>
      <h3>What is this?</h3>
      These are users from github. I use this API just because I need some data.
    </aside>
  </div>
</div>