<div class="breadcrumb-row">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/news/{{item.id}}">{{item.title}}</a></li>
    </ul>
  </nav>
</div>

<div class="news-item page">
  <div>
    <main>
      <h5>{{item.publishedAt | date:'dd.MMMM.yyyy'}}</h5>
      <h1>{{item.title}}</h1>
      <h4 *ngIf="item.author">by {{item.author}}</h4>
      <img src="{{item.urlToImage}}" class="main" />
      <p>{{item.description}}</p>
      <p>{{item.content}}</p>
    </main>
    <aside>
      <h3>More News</h3>
      <div *ngFor="let item of moreNews" class="news-tile">
        <a href="/news/{{item.id}}" *ngIf="item.id !== id">
          <small>{{item.publishedAt | date:'dd.MMMM.yyyy'}}</small>
          <img src="{{item.urlToImage}}" />
          <h4>{{item.title}}</h4>
        </a>
      </div>
    </aside>
  </div>
</div>