$fonts-path: 'http://localhost:4200/assets/fonts/';
@font-face {
  font-family: 'icomoon';
  src:  url('#{$fonts-path}icomoon.eot?gfoah');
  src:  url('#{$fonts-path}icomoon.eot?gfoah#iefix') format('embedded-opentype'),
    url('#{$fonts-path}icomoon.ttf?gfoah') format('truetype'),
    url('#{$fonts-path}icomoon.woff?gfoah') format('woff'),
    url('#{$fonts-path}icomoon.svg?gfoah#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crab:before {
  content: "\e901";
}
.icon-fish:before {
  content: "\e902";
}
.icon-flower:before {
  content: "\e904";
}
.icon-geisha:before {
  content: "\e905";
}
.icon-crossed-swords:before {
  content: "\e900";
}
.icon-yin-yang-symbol:before {
  content: "\e903";
}
