<header>
  <nav [class.screen]="!mobile" [class.mobile]="mobile">
    <a routerLink="/" class="logo"><img src="assets/images/logo.png" /></a>
    <button type="button" (click)="menuToggle()">menu</button>
    <ul *ngIf="showMenu">
      <li>
        <a routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About us</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">Users</a>
      </li>
    </ul>
  </nav>
  <div class="rights">All rights reserved 2019</div>
</footer>