/* 
In this Angular app we have body padding defined in the main CSS
.body-simulator resets the padding because in some cases we need no margins or different padding
*/
.body-replace {
    margin: -70px -20px 0 -20px;
    font-family: Tahoma;
}
div, header, main, footer, section {
    box-sizing: border-box;
}

main {
    padding-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.grid {
    margin: 0 auto;
    /* we know that grid width is 96vw because parent container left and right margins is 2vw */
}
.grid > div {
    width: 13vw;
    height: 13vw;
    margin: 0.35vw;
    padding: 1vw;
    float: left;
    background: lavender;
}
header {
    height: 15vh;
    width: 100vw;
    background: slategray;
    position: fixed;   
    padding: 0 2vw;
}

header nav {
    width: auto;
    background: darkslategray;
    height: 8vh;  
    margin-top: 7vh;
    overflow: visible;
    float: right;
    font-size: 3vh;
}

header .logo {
    height: 10vh;
    width: auto;
    margin-top: 2.5vh;
}

header nav ul{
    width: auto;
    list-style: none; 
    padding: 0;
    margin: 0;
}
header nav ul ul {
    display: none;
}
header nav ul li {
    display: inline-block;
    position: relative;
}
header nav ul li a {
    padding: 0 1vw;
    display: block;
    line-height: 8vh;
}
header nav ul li:hover {
    background: lightblue;

}

header nav ul li:hover ul {
    display: block;
    width: auto;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background: #eee;
    border-top: none;
    white-space: nowrap;
}

header nav ul ul li {
    display: block;
}