<div class="body-replace">

  <header>
    <img src="assets/images/logo.png" class="logo">
    <nav>
      <ul>
        <li>
          <a href="#">First item</a>
          <ul>
            <li>
              <a href="#">Submenu item 1</a>
            </li>
            <li>
              <a href="#">Submenu item 2</a>
            </li>
            <li>
              <a href="#">Submenu item 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Second item</a>
        </li>
        <li>
          <a href="#">Third item</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Usage of vw & vh units</h1>
    <section class="grid">

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

      <div>
        <div>
          content goes here
        </div>
      </div>

    </section>
  </main>
</div>