<div class="breadcrumb-row">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>About us</li>
    </ul>
  </nav>
</div>

<div class="users page">
  <div>
    <main>
      <h1>About us</h1>
      Just a page, because we need some pages in this project.
    </main>
    <aside>
      <h3>Contact us</h3>
      Here contacts are supposed to be.
    </aside>
  </div>
</div>