<div class="breadcrumb-row">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li aria-current="page">News</li>
    </ul>
  </nav>
</div>
<div class="news page">
  <div class="content">
    <main>
      <h1>News</h1>
      <section class="news-list">
        <div *ngFor="let item of news.articles" class="news-tile">
          <a href="/news/{{item.id}}">
            <small>{{item.publishedAt | date:'dd.MMMM.yyyy'}}</small>
            <img src="{{item.urlToImage}}" />
            <h4>{{item.title}}</h4>
          </a>
        </div>
      </section>
    </main>
  </div>
</div>