<header>
  <h1>Sticky header example</h1>
  <nav>
    <a href="#">First item</a>
    <a href="#">Second item</a>
    <a href="#">Third item</a>
  </nav>
</header>

<aside class="leftSidebar">
  <h3>This is a sticky sidebar.</h3>
  <ul>
    <li><a href="#">Sidenav Item</a></li>
    <li><a href="#">Another Sidenav Item</a></li>
    <li><a href="#">One more Sidenav Item</a></li>
  </ul>
  When we use such fixed sidebar we need to be sure that the content is going to fit into page.
  <br />
  Good place for additional navigation.
</aside>



<div class="container clearfix">

  <main>
    <h2>Main Content</h2>
    Here is our main content.
    <br />
    <br />
    This is old-fashioned layout. We don't use Flex or any other CSS rules that would not work in IE11.
    <br />
    <br />
    It is not responsive. We are going to make it responsive in our next lessons.
  </main>

  <aside class="rightSidebar">
    This sidebar is not sticky.
  </aside>

</div>



<footer>
  This is footer.
</footer>