* {
   font-family: Verdana;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
header {
    position: fixed;
    background: olive;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 55px;
    line-height: 55px;
    z-index: 900;
}
header h1 {
    margin: 0 0 0 7px;
    float: left;
}
header nav {
    float: right;
    width: auto;
}
header nav a, header nav a:link, header nav a:visited, header nav a:active {
    display: inline-block;
    padding: 0 20px;
    margin-left: 1px;
    background: rgba(255,255,255,0.5);
    height: 100%;
    color: #333;
}
header nav a:hover {
    color: white;
    background: rgba(0,0,0,0.2);
}

aside, main, footer {
    box-sizing: border-box;
    padding: 20px;    
    line-height: 150%;
    display: block;
}

aside.rightSidebar {
    float: right;
    width: 15%;
}
aside.leftSidebar {
    background: lightgray;
    width: 20%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 80px;
    z-index: 1;
}
aside.leftSidebar ul {
    list-style: none;
    padding: 0;
}
aside.leftSidebar ul li {
   display: block;
   background: #666;
   margin: 3px;
   padding: 5px 10px;
}
main {
    margin-left: 20%;
    min-height: 100vh;
    border-right: 1px dashed #999;
    width: 65%;
    float: left;
}
footer {
    font-size: 0.8em;
    text-align: center;
    background: slategray;
    position: relative;
    z-index: 3;
    margin: 0 -20px;
    top: 20px;
}